<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="description" content="{if=" defined('APP_DESCRIPTION')"}{#APP_DESCRIPTION#}{/if}">
        <meta name="author" content="{if=" defined('APP_OWNER')"}{#APP_OWNER#}{/if}">
        <link rel="icon" type="image/png" href="{#__URL_HOME__#}/assets/themes/application/images/favicon.png?590900">

        <title>{if="defined('APP_NAME')"}{#APP_NAME#}{/if} | {if="defined('TITLE')"}{#TITLE#}{/if}</title>

        {include="bootstrap_5"}

        {if="!empty($custom_css)"}
        {include="css"}
        {/if}

        {if="$custom_js"}
        {include="$custom_js"}
        {/if}
    </head>

    <body>
        {if="$UseNavbar"}
        {include="$navbarTemplate"}
        {/if}
        <main role="main" class="container mt-1">

            {if="!empty($return_msg)"}
            {include="return_msg"}
            {/if}