<!-- start base/header/header -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta
http-equiv="Cache-Control"
content="no-cache, no-store, must-revalidate"
/>
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta charset="utf-8" />
<meta name="description" content="Plexmedia metadata browser" />
<meta name="author" content="bjorn" />
<base href="http://10.0.0.101/plex/" />

<title>Home|Plex Media Utility</title>
<!-- start base/header/header_scripts -->

<script src="http://10.0.0.101/plex/assets/layouts/external/js/popper.min.js"></script>
<script src="http://10.0.0.101/plex/assets/layouts/external/js/bootstrap.min.js"></script>

<link
rel="stylesheet"
href="http://10.0.0.101/plex/assets/layouts/external/css/bootstrap.min.css"
/>

<script src="http://10.0.0.101/plex/assets/layouts/external/js/jquery.min.js"></script>
<script src="http://10.0.0.101/plex/assets/layouts/external/js/jquery.editable.min.js"></script>

<script src="http://10.0.0.101/plex/assets/layouts/js/app.js"></script>
<!-- end base/header/header_scripts -->
<!-- start base/header/header_filelist -->
<link rel="stylesheet" href="http://10.0.0.101/plex/assets/layouts/css/custom.css?gfdggggfd" />

<link rel="stylesheet" href="http://10.0.0.101/plex/assets/layouts/css/tags-input.css" />
</head>

<body >
    <main class="container-fluid m-5 p-5">