hr { 
		height:2px; 

		color:gray;
		background-color:gray;
	} 
	 html {
		 		font-size: 18px;

	 }
	#RedHead {
		border: 1px solid #1C6EA4;
		background-color: #1ABB17;
		width: 100%;
		text-align: left;
	  /*  border-collapse: collapse; */
		font-size: 22px;
		background: #1ABB17;
		background: -moz-linear-gradient(top, #53cc51 0%, #31c12e 66%, #1ABB17 100%);
		background: -webkit-linear-gradient(top, #53cc51 0%, #31c12e 66%, #1ABB17 100%);
		background: linear-gradient(to bottom, #53cc51 0%, #31c12e 66%, #1ABB17 100%);
		border-bottom: 2px solid #444444;
	}

	table.blueTable {
		border: 0px solid #1C6EA4;
		background-color: #EEEEEE;
		 width: 800px;
		margin: 10px;

		text-align: left;
		padding: 50px 50px 50px 50px;
				border-bottom: 2px solid #1C6EA4;
	/*	border-collapse: collapse; */

	}


	
	table.blueTable td, table.blueTable th {
		border: 0px solid #AAAAAA;
		padding: 3px 2px;
		
	}
	table.blueTable tbody td {
		font-size: 18px;
	}
	table.blueTable tr:nth-child(even) {
		background: #D0E4F5;
	}
	table.blueTable thead {
		background: #1C6EA4;
		background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
		background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
		background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
		border-bottom: 2px solid #444444;
	}
	table.blueTable thead th {
		font-size: 22px;
		font-weight: bold;
		color: #FFFFFF;
		/* order-left: 2px solid #D0E4F5; */
	}
	
	table.blueTable thead th:first-child {
		border-left: none;
	}

	div.container {
		width:100%; 
		 clear:both;
		font-size: 22px;
 		 
		/*color:#cc0000;*/

	}


	input.button, a.button, div.container {
		float: none;

	}

	input.button, a.button {
		background-color:#FFFFFF;
		border:1px solid #660000;
		border-radius:5px;
		color:#000000;
		text-decoration:none;
/*		margin: 10px 0px 10px 0px; */

		margin-right:10px; 
		margin-top:15px; 
		margin-bottom:15px; 

		 padding:15px 15px 15px 15px; 
	}


	input.button:active,input.button:focus,input.button:hover{
		background-color:#29FF00;
	/* 	margin-top:-15px; */
		color:#000000;

	}

	a.button:active,a.button:focus,a.button:hover{
		background-color:#29FF00;
		/* margin-top:-15px; */
		color:#000000;

	}

	input.button, a.button:hover{
		border:1px solid #000000;
	}

	input.formbox {
		/* width:100px; */
	}
	
#menu > ul {
  display: none;
  list-style-type:none;
} 
  
#menu > ul > li {
    list-style:none; 
} 
  
#menu > li {
   list-style:none;   
  font-weight: bold;
}

ul > .multi::after {
  content:' +'
}
  
ul > .multi-opened::after {
  content:' -'agination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  .pagination-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}

// Small
.pagination-sm {
  .pagination-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
