hr {
    height: 2px;
    color: gray;
    background-color: gray;
}

html {
    font-size: 16px;

}

body {
    padding-top: 80px;
    padding-bottom: 65px;
}

#RedHead {
    border: 1px solid #1C6EA4;
    background-color: #1ABB17;
    width: 100%;
    text-align: left;
    /*  border-collapse: collapse; */
    font-size: 22px;
    background: #1ABB17;
    background: -moz-linear-gradient(top, #53cc51 0%, #31c12e 66%, #1ABB17 100%);
    background: -webkit-linear-gradient(top, #53cc51 0%, #31c12e 66%, #1ABB17 100%);
    background: linear-gradient(to bottom, #53cc51 0%, #31c12e 66%, #1ABB17 100%);
    border-bottom: 2px solid #444444;
}

.blueTable {
    border: 0px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 1100px;
    margin: 0px;

    text-align: left;
    /*  padding: 20px 20px 20px 20px; */
    padding: 0px 0px 10px 0px;
    /*    border-bottom: 2px solid #1C6EA4;*/
    /*	border-collapse: collapse; */

}



.blueTable-td,
.blueTable-th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;

}

.blueTable-tbody-td {
    font-size: 14px;
    text-align: left;
}

.blueTable-tr-even {
    background: #D0E4F5;
}

.blueTable-thead {
    background: #1C6EA4;
    text-align: center;

    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    /* border-bottom: 2px solid #444444; */
}

.blueTable-thead-th {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    white-space: nowrap;

    /* order-left: 2px solid #D0E4F5; */
}

table.blueTable thead th:first-child {
    border-left: none;
}


#menu>ul {
    display: none;
    list-style-type: none;
}

#menu>ul>li {
    list-style: none;
}

#menu>li {
    list-style: none;
    font-weight: bold;
}

ul>.multi::after {
    content: ' +'
}

ul>.multi-opened::after {
    content: ' -'
}

.categories-wrapper {
    position: relative;
}

.category-input {
    position: absolute;
    top: 0;

    left: 0;
    opacity: 0;
    width: 50px;
    height: 50px;
}

.category-input:checked+label {
    background: rgb(75, 222, 25);


    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}