<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Playlist</button>

<div class="offcanvas offcanvas-end" data-content-overlay="false" data-bs-scroll="true" data-bs-backdrop="false" 
tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

    <div class="offcanvas-header">
        %%CANVAS_HEADER%%
    </div>

    <div class="offcanvas-body">
        %%CANVAS_BODY%%
    </div>

</div>

<script src="%%__LAYOUT_URL__%%js/playlist.js?%%__RANDOM__%%"></script>
