<div class="playlistData btn-group w-75 btn-primary border border-2 border-dark" role="group" aria-label="Vertical button group">
    {{function=hiddenSearch}}
    <input type="hidden" name="submit" value="playlist">
    <button type="button" class="btn PlaylistButton" id="PlayAll"   data-bs-dismiss="offcanvas" aria-label="Close">Play All</button>
 
    <button type="button" class="btn PlaylistButton" id="AddPlaylist" data-bs-dismiss="offcanvas" aria-label="Close">Add selected to Playlist</button>
    <span id="playlistTextBox" class="hidden" ></span>
    <span class="btn PlaylistButton" id="AddAll">Add all Playlist</span>
    <span class="btn PlaylistButton" id="Clear"   data-bs-dismiss="offcanvas" aria-label="Close">Clear</span>
</div>




