
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Playlist</button>

<div class="offcanvas offcanvas-top offcanvas-top-list" data-content-overlay="false" data-bs-scroll="true" data-bs-backdrop="false" 
tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">

    <div class="offcanvas-header">
        {$CANVAS_HEADER}
    </div>

    <div class="offcanvas-body">
        {$CANVAS_BODY}
    </div>

</div>

{{javascript=playlist.js}}


