<div class="col categories-wrapper" style="max-width:{$width}px;">
    {$Thumbnail_html}
    <div class="d-flex flex-row btn-group">
        {{function=videoPlayer|query?id={$FILE_ID},href=video.php,text={L Play_Video_Text}}} 
        {{function=videoPlayer|query?id={$FILE_ID},query?next={$NEXT_ID},href=videoinfo.php,text={L Video_Info_Text}}}
        {{function=videoPlayer|query?id={$FILE_ID},href=testVideo.php,text={L Play_Video_TestText}}} 
    </div>
    <div class="d-grid gap-2 btn-group">
        {{function=videoPlaylistBtn|query?id={$FILE_ID},query?playlist_id={$PlaylistId},href=video.php}}</div>
</div>
