apache2handler_logs/**
assets/lib/vendor/**
logs/**
assets/lib/composer.lock
assets/layouts/misc/**
node_modules/*
composer.lock
vendor/**
tags
apache2handler_logs/plexweb.html.log
apache2handler_logs/plexweb.log
apache2handler_logs/plexweb.html.log
.vscode/extensions.json
XXX
php_errors.log
html/images/plex/*
html/videos
.env
config.ini
.vscode/settings.json
.vscode/
.vscode/*
html/logs/*
html/temp/*
src/var/**
html/assets/layouts/template - Copy
html/node_modules/*

html/package.json
html/package-lock.json
html/assets/tmpLayout/css/app.css
html/assets/tmpLayout/css/bootstrap-image-checkbox.min.css
html/assets/tmpLayout/css/bootstrap-image-checkbox.min.css.map
html/assets/tmpLayout/css/star-rating.min.css
html/assets/tmpLayout/css/tags-input.css
html/assets/tmpLayout/css/video.css
html/assets/tmpLayout/css/themes/krajee-fas/theme.js
html/assets/tmpLayout/css/themes/krajee-svg/theme.js
html/assets/tmpLayout/external/js/bootstrap.min.js
html/assets/tmpLayout/external/js/jquery.editable.min.js
html/assets/tmpLayout/external/js/jquery.min.js
html/assets/tmpLayout/external/js/popper.min.js
html/assets/tmpLayout/js/app.js
html/assets/tmpLayout/js/footer.js
html/assets/tmpLayout/js/index.html
html/assets/tmpLayout/js/playlist.js
html/assets/tmpLayout/js/star-rating.js
html/assets/tmpLayout/js/star-rating.min.js
html/assets/tmpLayout/js/styleswitch.js
html/assets/tmpLayout/js/tags-input.js
html/assets/tmpLayout/js/test.js
html/assets/tmpLayout/js/external/bootstrap.min.js
html/assets/tmpLayout/js/external/jquery.editable.min.js
html/assets/tmpLayout/js/external/jquery.min.js
html/assets/tmpLayout/js/external/popper.min.js
html/assets/tmpLayout/js/themes/krajee-fas/theme.css
html/assets/tmpLayout/js/themes/krajee-fas/theme.js
html/assets/tmpLayout/js/themes/krajee-svg/theme.css
html/assets/tmpLayout/js/themes/krajee-svg/theme.js
html/assets/tmpLayout/js/videojs/video-js.css
html/assets/tmpLayout/js/videojs/video.js
html/assets/tmpLayout/js/videojs/videojs-playlist-ui.css
html/assets/tmpLayout/js/videojs/videojs-playlist-ui.js
html/assets/tmpLayout/js/videojs/videojs-playlist.js
html/assets/tmpLayout/themes/krajee-fas/theme.css
html/assets/tmpLayout/themes/krajee-fas/theme.js
html/assets/tmpLayout/themes/krajee-svg/theme.css
html/assets/tmpLayout/themes/krajee-svg/theme.js
