apache2handler_logs/**
assets/lib/vendor/**
logs/**
assets/lib/composer.lock
assets/layouts/misc/**
node_modules/*
composer.lock
vendor/**
tags
apache2handler_logs/plexweb.html.log
apache2handler_logs/plexweb.log
apache2handler_logs/plexweb.html.log
.vscode/extensions.json
XXX
php_errors.log
html/images/plex/*
html/videos
.env
config.ini
.vscode/settings.json
.vscode/
.vscode/*
html/logs/*
html/temp/*
src/var/**
html/assets/layouts/template - Copy
html/node_modules/*

html/package.json
html/package-lock.json
html/assets/tmpLayout/css/app.css
html/assets/tmpLayout/css/bootstrap-image-checkbox.min.css
html/assets/tmpLayout/css/bootstrap-image-checkbox.min.css.map
html/assets/tmpLayout/css/star-rating.min.css
html/assets/tmpLayout/css/tags-input.css
html/assets/tmpLayout/css/video.css
html/assets/tmpLayout/css/themes/krajee-fas/theme.js
html/assets/tmpLayout/css/themes/krajee-svg/theme.js
html/assets/tmpLayout/external/js/bootstrap.min.js
html/assets/tmpLayout/external/js/jquery.editable.min.js
html/assets/tmpLayout/external/js/jquery.min.js
html/assets/tmpLayout/external/js/popper.min.js
html/assets/tmpLayout/js/app.js
html/assets/tmpLayout/js/footer.js
html/assets/tmpLayout/js/index.html
html/assets/tmpLayout/js/playlist.js
html/assets/tmpLayout/js/star-rating.js
html/assets/tmpLayout/js/star-rating.min.js
html/assets/tmpLayout/js/styleswitch.js
html/assets/tmpLayout/js/tags-input.js
html/assets/tmpLayout/js/test.js
html/assets/tmpLayout/js/external/bootstrap.min.js
html/assets/tmpLayout/js/external/jquery.editable.min.js
html/assets/tmpLayout/js/external/jquery.min.js
html/assets/tmpLayout/js/external/popper.min.js
html/assets/tmpLayout/js/themes/krajee-fas/theme.css
html/assets/tmpLayout/js/themes/krajee-fas/theme.js
html/assets/tmpLayout/js/themes/krajee-svg/theme.css
html/assets/tmpLayout/js/themes/krajee-svg/theme.js
html/assets/tmpLayout/js/videojs/video-js.css
html/assets/tmpLayout/js/videojs/video.js
html/assets/tmpLayout/js/videojs/videojs-playlist-ui.css
html/assets/tmpLayout/js/videojs/videojs-playlist-ui.js
html/assets/tmpLayout/js/videojs/videojs-playlist.js
html/assets/tmpLayout/themes/krajee-fas/theme.css
html/assets/tmpLayout/themes/krajee-fas/theme.js
html/assets/tmpLayout/themes/krajee-svg/theme.css
html/assets/tmpLayout/themes/krajee-svg/theme.js
plex_web.sql
src/Layout/Mobile/New folder/Settings/page.html
src/Layout/Mobile/New folder/Settings/form/Navigation/card_text.html
src/Layout/Mobile/New folder/Settings/form/Navigation/card.html
src/Layout/Mobile/New folder/Settings/form/Navigation/checkbox_row.html
src/Layout/Mobile/New folder/Settings/form/Navigation/checkbox.html
src/Layout/Mobile/New folder/Settings/form/Navigation/nav_link.html
src/Layout/Mobile/New folder/Settings/form/Navigation/text_row.html
src/Layout/Mobile/New folder/Video/Card/deletebuttons.html
src/Layout/Mobile/New folder/Video/Card/search_link.html
src/Layout/Mobile/New folder/Video/Card/thumbnail_wrapper.html
src/Layout/Mobile/New folder/Video/Card/thumbnail.html
src/Layout/Mobile/New folder/Video/Card/vertical.html
src/Layout/Mobile/New folder/Video/Card/Video.html
src/Layout/Mobile/New folder/Video/Card/Rows/artist.html
src/Layout/Mobile/New folder/Video/Card/Rows/duration.html
src/Layout/Mobile/New folder/Video/Card/Rows/info.html
src/Layout/Mobile/New folder/Video/Card/Rows/ListsRow.html
src/Layout/Mobile/New folder/Video/Card/Rows/row.html
src/Layout/Mobile/New folder/Video/Js/main.html
src/Layout/Mobile/New folder/Video/Js/video_js.js
src/Layout/Mobile/New folder/Video/Js/container/icon.html
src/Layout/Mobile/New folder/Video/Js/container/info.html
src/Layout/Mobile/New folder/Video/Js/container/item.html
src/Layout/Mobile/New folder/Video/Js/container/player.html
src/Layout/Mobile/New folder/Video/Js/container/playlist.html
src/Layout/Mobile/New folder/Video/Plyr/main.html
src/Layout/Mobile/New folder/Video/Plyr/video_js.js
src/Layout/Mobile/New folder/Video/Plyr/container/icon.html
src/Layout/Mobile/New folder/Video/Plyr/container/info.html
src/Layout/Mobile/New folder/Video/Plyr/container/item.html
src/Layout/Mobile/New folder/Video/Plyr/container/player.html
src/Layout/Mobile/New folder/Video/Plyr/container/playlist.html
src/Layout/Mobile/New folder/artist/artist_box.html
src/Layout/Mobile/New folder/artist/artist_count.html
src/Layout/Mobile/New folder/artist/artist_thumbnail.html
src/Layout/Mobile/New folder/artist/cloud.html
src/Layout/Mobile/New folder/base/page.html
src/Layout/Mobile/New folder/base/footer/main.html
src/Layout/Mobile/New folder/base/footer/navbar.html
src/Layout/Mobile/New folder/base/footer/page_item_disabled.html
src/Layout/Mobile/New folder/base/footer/page_item.html
src/Layout/Mobile/New folder/base/footer/pages.html
src/Layout/Mobile/New folder/base/footer/sort.html
src/Layout/Mobile/New folder/base/header/header_grid.html
src/Layout/Mobile/New folder/base/header/header.html
src/Layout/Mobile/New folder/base/navbar/library_links.html
src/Layout/Mobile/New folder/base/navbar/library_menu.html
src/Layout/Mobile/New folder/base/navbar/main.html
src/Layout/Mobile/New folder/base/navbar/menu_dropdown_badge.html
src/Layout/Mobile/New folder/base/navbar/menu_dropdown_link.html
src/Layout/Mobile/New folder/base/navbar/menu_dropdown.html
src/Layout/Mobile/New folder/base/navbar/menu_link.html
src/Layout/Mobile/New folder/base/navbar/menu_popup.html
src/Layout/Mobile/New folder/cloud/main.html
src/Layout/Mobile/New folder/cloud/tag.html
src/Layout/Mobile/New folder/config/artist/artist_row.html
src/Layout/Mobile/New folder/config/artist/form_wrapper.html
src/Layout/Mobile/New folder/config/artist/main.html
src/Layout/Mobile/New folder/config/genre/form_wrapper.html
src/Layout/Mobile/New folder/config/genre/genre_row.html
src/Layout/Mobile/New folder/config/genre/main.html
src/Layout/Mobile/New folder/config/studio/form_wrapper.html
src/Layout/Mobile/New folder/config/studio/main.html
src/Layout/Mobile/New folder/config/studio/studio_row.html
src/Layout/Mobile/New folder/config/studio/studios.html
src/Layout/Mobile/New folder/dupe/main.html
src/Layout/Mobile/New folder/editor/form_func.js
src/Layout/Mobile/New folder/editor/form.css
src/Layout/Mobile/New folder/editor/form.html
src/Layout/Mobile/New folder/editor/form.js
src/Layout/Mobile/New folder/editor/main.html
src/Layout/Mobile/New folder/editor/row.html
src/Layout/Mobile/New folder/editor/textblock.html
src/Layout/Mobile/New folder/elements/AlphaSort/block.html
src/Layout/Mobile/New folder/elements/AlphaSort/row.html
src/Layout/Mobile/New folder/elements/Breadcrumb/breadcrumb.html
src/Layout/Mobile/New folder/elements/Breadcrumb/crumb.html
src/Layout/Mobile/New folder/elements/Buttons/backward.html
src/Layout/Mobile/New folder/elements/Buttons/forward.html
src/Layout/Mobile/New folder/elements/Buttons/next.html
src/Layout/Mobile/New folder/elements/Buttons/playlistButton.html
src/Layout/Mobile/New folder/elements/Buttons/prev.html
src/Layout/Mobile/New folder/elements/Buttons/Favorite/add.html
src/Layout/Mobile/New folder/elements/Buttons/Favorite/button.html
src/Layout/Mobile/New folder/elements/Buttons/Favorite/remove.html
src/Layout/Mobile/New folder/elements/Buttons/Playlist/canvas_body.html
src/Layout/Mobile/New folder/elements/Buttons/Playlist/canvas_header.html
src/Layout/Mobile/New folder/elements/Buttons/Playlist/canvas.html
src/Layout/Mobile/New folder/elements/Chapters/addChapter.html
src/Layout/Mobile/New folder/elements/Chapters/chapter.html
src/Layout/Mobile/New folder/elements/Chapters/chapter.js
src/Layout/Mobile/New folder/elements/Icons/heartMinus.html
src/Layout/Mobile/New folder/elements/Icons/heartPlus.html
src/Layout/Mobile/New folder/elements/PageSort/page_item_disabled.html
src/Layout/Mobile/New folder/elements/PageSort/page_item.html
src/Layout/Mobile/New folder/elements/PageSort/sort.html
src/Layout/Mobile/New folder/elements/Playlist/VideoPlayer/PlaylistForm.html
src/Layout/Mobile/New folder/elements/Playlist/canvas/block.html
src/Layout/Mobile/New folder/elements/Playlist/canvas/form.html
src/Layout/Mobile/New folder/elements/Playlist/canvas/item.html
src/Layout/Mobile/New folder/elements/Playlist/carousel/block.html
src/Layout/Mobile/New folder/elements/Playlist/carousel/item.html
src/Layout/Mobile/New folder/elements/Playlist/carousel/js.html
src/Layout/Mobile/New folder/elements/PlyrPlaylist/index.html
src/Layout/Mobile/New folder/elements/ProgressBar/javascript.html
src/Layout/Mobile/New folder/elements/ProgressBar/progressbar.html
src/Layout/Mobile/New folder/elements/Rating/header.html
src/Layout/Mobile/New folder/elements/Rating/rating.html
src/Layout/Mobile/New folder/elements/RecentDays/select.html
src/Layout/Mobile/New folder/elements/Themes/option.html
src/Layout/Mobile/New folder/elements/Themes/select.html
src/Layout/Mobile/New folder/elements/Themes/stylesheet.html
src/Layout/Mobile/New folder/elements/metaFilter/block.html
src/Layout/Mobile/New folder/elements/metaFilter/filter.html
src/Layout/Mobile/New folder/elements/metaFilter/select_box.html
src/Layout/Mobile/New folder/fileBrowser/FolderLink.html
src/Layout/Mobile/New folder/fileBrowser/FolderList.html
src/Layout/Mobile/New folder/fileBrowser/page.html
src/Layout/Mobile/New folder/grid/cell.html
src/Layout/Mobile/New folder/grid/playlist_link.html
src/Layout/Mobile/New folder/grid/row.html
src/Layout/Mobile/New folder/grid/table.html
src/Layout/Mobile/New folder/grid/cell/ListsRow.html
src/Layout/Mobile/New folder/grid/cell/thumbnail.html
src/Layout/Mobile/New folder/grid/cell/video_data.html
src/Layout/Mobile/New folder/grid/cell/video.html
src/Layout/Mobile/New folder/playlist/cell.html
src/Layout/Mobile/New folder/playlist/main.html
src/Layout/Mobile/New folder/playlist/playlist_link.html
src/Layout/Mobile/New folder/playlist/table.html
src/Layout/Mobile/New folder/playlist/thumbnail.html
src/Layout/Mobile/New folder/playlist/canvas/block.html
src/Layout/Mobile/New folder/playlist/canvas/form.html
src/Layout/Mobile/New folder/playlist/canvas/image.html
src/Layout/Mobile/New folder/playlist/canvas/item.html
src/Layout/Mobile/New folder/playlist/thumbnail/image.html
src/Layout/Mobile/New folder/playlist/thumbnail/thumbnail.html
src/Layout/Mobile/New folder/search/checkboxes.html
src/Layout/Mobile/New folder/search/search_msg.html
src/Layout/Mobile/New folder/search/search.html
src/Layout/Mobile/New folder/videoPlyr/main.html
src/Layout/Mobile/New folder/videoPlyr/video_js.js
src/Layout/Mobile/New folder/videoinfo/page.html
src/Layout/Mobile/elements/New folder/AlphaSort/block.html
src/Layout/Mobile/elements/New folder/AlphaSort/row.html
src/Layout/Mobile/elements/New folder/Breadcrumb/breadcrumb.html
src/Layout/Mobile/elements/New folder/Breadcrumb/crumb.html
src/Layout/Mobile/elements/New folder/Buttons/backward.html
src/Layout/Mobile/elements/New folder/Buttons/forward.html
src/Layout/Mobile/elements/New folder/Buttons/next.html
src/Layout/Mobile/elements/New folder/Buttons/playlistButton.html
src/Layout/Mobile/elements/New folder/Buttons/prev.html
src/Layout/Mobile/elements/New folder/Buttons/Favorite/add.html
src/Layout/Mobile/elements/New folder/Buttons/Favorite/button.html
src/Layout/Mobile/elements/New folder/Buttons/Favorite/remove.html
src/Layout/Mobile/elements/New folder/Buttons/Playlist/canvas_body.html
src/Layout/Mobile/elements/New folder/Buttons/Playlist/canvas_header.html
src/Layout/Mobile/elements/New folder/Buttons/Playlist/canvas.html
src/Layout/Mobile/elements/New folder/Chapters/addChapter.html
src/Layout/Mobile/elements/New folder/Chapters/chapter.html
src/Layout/Mobile/elements/New folder/Chapters/chapter.js
src/Layout/Mobile/elements/New folder/Icons/heartMinus.html
src/Layout/Mobile/elements/New folder/Icons/heartPlus.html
src/Layout/Mobile/elements/New folder/PageSort/page_item_disabled.html
src/Layout/Mobile/elements/New folder/PageSort/page_item.html
src/Layout/Mobile/elements/New folder/PageSort/sort.html
src/Layout/Mobile/elements/New folder/Playlist/VideoPlayer/PlaylistForm.html
src/Layout/Mobile/elements/New folder/Playlist/canvas/block.html
src/Layout/Mobile/elements/New folder/Playlist/canvas/form.html
src/Layout/Mobile/elements/New folder/Playlist/canvas/item.html
src/Layout/Mobile/elements/New folder/Playlist/carousel/block.html
src/Layout/Mobile/elements/New folder/Playlist/carousel/item.html
src/Layout/Mobile/elements/New folder/Playlist/carousel/js.html
src/Layout/Mobile/elements/New folder/PlyrPlaylist/index.html
src/Layout/Mobile/elements/New folder/ProgressBar/javascript.html
src/Layout/Mobile/elements/New folder/ProgressBar/progressbar.html
src/Layout/Mobile/elements/New folder/Rating/header.html
src/Layout/Mobile/elements/New folder/Rating/rating.html
src/Layout/Mobile/elements/New folder/RecentDays/select.html
src/Layout/Mobile/elements/New folder/Themes/option.html
src/Layout/Mobile/elements/New folder/Themes/select.html
src/Layout/Mobile/elements/New folder/Themes/stylesheet.html
src/Layout/Mobile/elements/New folder/metaFilter/block.html
src/Layout/Mobile/elements/New folder/metaFilter/filter.html
src/Layout/Mobile/elements/New folder/metaFilter/select_box.html
html/var**
.env-server
