apache2handler_logs/**
assets/lib/vendor/**
logs/**
assets/lib/composer.lock
assets/layouts/misc/**
node_modules/*
composer.lock
vendor/**
tags
apache2handler_logs/plexweb.html.log
apache2handler_logs/plexweb.log
apache2handler_logs/plexweb.html.log
.vscode/extensions.json
XXX
php_errors.log
html/images/plex/*
html/videos
.env
