<div class="p-2">
    <form method="post" id="addChapter" class="addChapterBtn">
        {$HIDDEN_VIDEO_ID}
        <div id="info" class="mb-3  text-black position-absolute" style="display: none">
            <label for="textNameInput" class="form-label">{L Chapter_Timestap_Label}</label>
            <input type="text" class="form-control" name="name" id="textNameInput"
             aria-describedby="emailHelp">
        </div>
        <input type="hidden" name="timeCode" id="timeCodeInput">
        <input type="hidden" name="submit" value="addChapterVideo">
    </form>
</div>
