<nav style="margin-top: 00px; --bs-breadcrumb-divider: '>'" aria-label="breadcrumb" class="third-navbar navbar-expand-sm  navbar-dark d-flex">
    <div class="container-fluid row">
        <div class="navbar-nav col flex-nowrap ">
            <nav aria-label="breadcrumb">

                <ol class="breadcrumb">
                    %%CRUMB_LINKS%%
                </ol>
            </nav>
        </div>

        <div class="navbar-nav col  fs-5">
            %%ALPHA_BLOCK%%
        </div>

        <div class="navbar-nav col justify-content-end me-1">
            <form action="%%PAGE_UPDATE%%" method="GET">
                %%HIDDEN%%
                <div class="navbar-nav flex-column">
                    %%GENREFILTERBOX%%
                    %%ARTISTFILTERBOX%%
                    %%STUDIOFILTERBOX%%
                    %%SUBSTUDIOFILTERBOX%%
                </div>
                <!-- <li class="nav-item">%%GENREFILTERBOX%%</li>
                <li class="nav-item">%%ARTISTFILTERBOX%%</li>
                <li class="nav-item">%%STUDIOFILTERBOX%%</li> 
            </ul> -->
            </form>
        </div>
    </div>
</nav>