<nav style="margin-top: 00px; --bs-breadcrumb-divider: '>'" aria-label="breadcrumb" class="third-navbar navbar-expand-sm  navbar-dark d-flex">
    <div class="container-fluid row">
        <div class="navbar-nav col flex-nowrap ">
            <nav aria-label="breadcrumb">

                <ol class="breadcrumb">

                    %%CRUMB_LINKS%%
                </ol>
            </nav>
        </div>

       {{function=AlphaBlock}}

        <div class="navbar-nav col justify-content-end me-1">
            <div class="navbar-nav flex-column">
                <form action="%%PAGE_UPDATE%%" method="GET">
                    %%HIDDEN%%
                    %%GENREFILTERBOX%%
                </form>
                <form action="%%PAGE_UPDATE%%" method="GET">
                    %%HIDDEN%%
                    %%ARTISTFILTERBOX%%
                </form>
                <form action="%%PAGE_UPDATE%%" method="GET">
                    %%HIDDEN%%
                    %%STUDIOFILTERBOX%%
                </form>
                <form action="%%PAGE_UPDATE%%" method="GET">
                    %%HIDDEN%%
                    %%SUBSTUDIOFILTERBOX%%
                </form>
            </div>

        </div>
    </div>
</nav>