<header>
    <nav class="navbar top-navbar navbar-expand-sm navbar-light bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
            <ul class="navbar-nav flex-row">
                <li class="nav-item me-2 me-lg-0">
                    <a class="navbar-brand text-light" href="home.php">
                        <img src="%%__LAYOUT_URL__%%images/logonotext.png" alt="" width="50" height="50"
                            class="mr-3" />%%APP_NAME%%</a>
                </li>
            </ul>
            %%NAV_BAR_LEFT_LINKS%%
        </div>
    </nav>

    <nav class="navbar second-navbar navbar-expand-sm navbar-light bg-primary navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav flex-row"></ul>

            <ul class="navbar-nav d-flex flex-row me-1">
                %%NAV_BAR_RIGHT_LINKS%%
            </ul>
        </div>
    </nav>

    %%BREADCRUMB%%
    %%ALPHA%%
</header>