<tr>
	<td colspan=2 ><button onclick="popup('/plex_web/video.php?id=%%FILE_ID%%', 'video')">Watch Video</button></td>
	<td>%%FIELD_KEY%%</td>
	
	<td colspan=2>
		
		<input type="radio" id="%%FIELD_NAME%%_Yes"  name="%%FIELD_NAME%%"  value="" %%YESCHECKED%% onclick="editRadioValue(this.id)">
		<!--  onfocusout="checkValue(this.id)"--> 
		<label for="%%FIELD_NAME%%_Yes">yes</label>

		<input type="radio" id="%%FIELD_NAME%%_No"  name="%%FIELD_NAME%%"  value="" %%NOCHECKED%% onclick="editRadioValue(this.id)">
		
		<!-- onclick="editPlaceholder(this.id)" onfocusout="checkValue(this.id)"--> 
		<label for="%%FIELD_NAME%%_No">no</label>

	</td>		
</tr>