<ul class="pagination">
    <select name="itemsPerPage" id="itemsPerPage" onchange="this.form.submit()">

        <option value="10">10</option>
        <option value="25" selected="">25</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="250">250</option>
        <option value="500">500</option>


    </select>



</ul>

<ul class="pagination">
    <select name="itemsPerPage" id="itemsPerPage" onchange="this.form.submit()">

        <option value="10" selected="">10</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="250">250</option>
        <option value="500">500</option>


    </select>

    <!-- start base/footer/page_item -->
    <li class="page-item  active"><a class="page-link"
            href="/plex_web/files.php?current=1&amp;substudio=DP+Overload&amp;genre=Threesome">1</a></li>


    <!-- end base/footer/page_item -->
    <!-- start base/footer/page_item -->
    <li class="page-item"><a class="page-link"
            href="/plex_web/files.php?current=2&amp;substudio=DP+Overload&amp;genre=Threesome">2</a></li>


    <!-- end base/footer/page_item -->

    <!-- start base/footer/page_item -->
    <li class="page-item"><a class="page-link"
            href="/plex_web/files.php?current=2&amp;substudio=DP+Overload&amp;genre=Threesome">Next »</a></li>


    <!-- end base/footer/page_item -->

</ul>