<form action="%%FORM_URL%%" method="post">

    %%HIDDEN%%
    <div class="container badge text-bg-primary text-black p-2 fw-semibold" style="--bs-bg-opacity: .5;">
        <div class="row justify-content-center">
            <div class="col-9  fs-3">
                    %%PLAYLIST_NAME%% 
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-3   fs-4 ">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Genre</span>
                    <input type="text" name="playlist_genre" class="form-control" placeholder="%%PLAYLIST_GENRE%%"
                        aria-label="playlist_genre" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-3   fs-4 ">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Name</span>
                    <input type="text" name="playlist_name" class="form-control" placeholder="%%PLAYLIST_NAME%%"
                        aria-label="playlist_name" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>

        <div class="row text-left justify-content-center">
            <div class="col-3  fs-4 ">
                <button type="submit" class="text-black fs-4" name="action" value="save">Save</button>
            </div>
            <div class="col-3 fs-4 ">
                <span  onclick="popup('%%__URL_HOME__%%/video.php?playlist_id=%%PLAYLIST_ID%%', 'video')">Watch</span></div>
            <div class="col-3   fs-4 " >
                <button type="submit" class="text-black fs-4" name="action" value="delete">Delete</button>
            </div>
        </div>
    </div>

    <div class="container text-center" style="--bs-bg-opacity: .5;">
        <div class="row">
            <div class="d-flex flex-sm-wrap text-white">
                %%CELLS_HTML%%
            </div>
        </div>

    </div>
</form>