
<div class="card text-bg-dark"  onclick="updateVideoPlayer('{$VIDEO_ID}','{$PLAYLIST_ID}');">
    <img height="160px" width=auto src="{$THUMBNAIL}" class="card-img">
    <div class="card-img-overlay">
        <div class="bg-secondary bg-opacity-50">
      <h5 class="card-title ">{$TITLE}</h5>
      <ul class=" text-bold opacity-100 text-reset">
      <li><span class="card-text  text-dark">  {$GENRE}</span></li>
      <li><span class="card-text  text-dark">  {$ARTIST}</span></li>
      <li><span class="card-text  text-dark">  {$STUDIO}</span></li>
    </ul>
</div>
    </div>
  </div>
