{include="$headerTemplate"} {loop="$videos"}
<div id="wrapper" name="{$value.id}">
    <!-- start filelist/file -->
    <form action="search.php" method="post" id="formId">
        <div class="blueTable">
            <div class="row">
                <div class="col blueTable-th blueTable-thead blueTable-thead-th text-center">
                    <!-- start filelist/popup_js -->
                    <span onclick="popup('/plex/videoinfo.php?id={$value.id}', 'videoinfo')">{$value.title}</span>
                    <!-- end filelist/popup_js -->
                </div>
            </div>
            <div class="row flex-nowrap">
                <!-- start filelist/file_vertical -->
                <div class="col blueTable-th blueTable-thead blueTable-thead-th" style="max-width: 35px">
                    <div class="vertical-text">&nbsp;&nbsp;&nbsp;{$value.rownum} of {$value.rownum}</div>
                </div>
                <!-- end filelist/file_vertical -->

                <!-- start filelist/file_thumbnail -->
                <div class="col" style="max-width: 340px">
                    <img
                        src="http://10.0.0.101/plex{$value.thumbnail}"
                        onclick="popup('http://10.0.0.101/plex/video.php?id={$value.id}', 'videoplayer')"
                        onerror="this.onerror=null;this.src='http://10.0.0.101/plex/images/default.jpg'"
                        class="position-relative" />
                </div>
                <!-- end filelist/file_thumbnail -->

                <div class="col">
                    <!-- start videoinfo/file_row -->
                    <div class="row bg-info mt-2">
                        <div class="col-2 blueTable-tbody-td">
                            <span class="text-dark fs-5"> Title</span>
                        </div>
                        <div class="col-9 blueTable-tbody-td fs-5">{$value.title}</div>
                    </div>
                    {if="$value.artist|is_array"} {$oldval = $value} {$tag = 'artist'} {$buttonValue = $value.artist} {include="button"} {$value = $oldval} {/if}
                    {if="$value.genre|is_array"} {$oldval = $value} {$tag = 'genre'} {$buttonValue = $value.genre} {include="button"} {$value = $oldval} {/if}
                    {if="$value.studio|is_array"} {$oldval = $value} {$tag = 'studio'} {$buttonValue = $value.studio} {include="button"} {$value = $oldval} {/if}
                    {if="$value.keyword|is_array"} {$oldval = $value} {$tag = 'keyword'} {$buttonValue = $value.keyword} {include="button"} {$value = $oldval} {/if}

                    <div class="row mt-2">
                        <div class="col-2 blueTable-tbody-td">
                            <span class="text-dark fs-5"> Filename</span>
                        </div>
                        <div class="col-9 blueTable-tbody-td fs-5">{$value.filename}</div>
                    </div>
                    <div class="row bg-info mt-2">
                        <div class="col-2 blueTable-tbody-td">
                            <span class="text-dark fs-5"> Fullpath</span>
                        </div>
                        <div class="col-9 blueTable-tbody-td fs-5">{$value.fullpath}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 blueTable-tbody-td">
                            <span class="text-dark fs-5"> Duration</span>
                        </div>
                        <div class="col-9 blueTable-tbody-td fs-5">{$value.duration}</div>
                    </div>
                    <div class="row bg-info mt-2">
                        <div class="col-2 blueTable-tbody-td">
                            <span class="text-dark fs-5"> Filesize</span>
                        </div>
                        <div class="col-9 blueTable-tbody-td fs-5">{$value.filesize}<span class="fs-0-8 bold">GB</span></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 blueTable-tbody-td">
                            <span class="text-dark fs-5"> Added</span>
                        </div>
                        <div class="col-9 blueTable-tbody-td fs-5">{$value.added}</div>
                    </div>
                    <div class="row bg-info mt-2">
                        <div class="col-2 blueTable-tbody-td">
                            <span class="text-dark fs-5"> </span>
                        </div>
                        <div class="col-9 blueTable-tbody-td fs-5">
                            <!-- start filelist/file_videoinfo -->
                            <div class="row">
                                <div class="col-3">Format</div>
                                <div class="col-3">BitRate</div>
                                <div class="col-2">Width</div>
                                <div class="col-2">Height</div>
                            </div>
                            <div class="row">
                                <div class="col-3">MPEG-4</div>
                                <div class="col-3">9.56 MB</div>
                                <div class="col-2">4096</div>
                                <div class="col-2">2160</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{/loop} {include="$footerTemplate"}
