.video_title,
.video_studio,
.video_genre,
.video_artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video_title {
    margin: 0;
    -webkit-line-clamp: 1;
    /* font-size: 24px; */
}

.video_genre {
    margin: 0;
    -webkit-line-clamp: 1;
    /* font-size: 18px; */
}

.video_artist {
    margin-top: 0;
    -webkit-line-clamp: 1;
    /* font-size: 18px; */
}

.video_studio {
    margin-top: 0;
    -webkit-line-clamp: 1;
    /* font-size: 18px; */
}


.video_container {
    z-index: 300;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    /* position: relative; */
    /* top: 6px; */
    /* left: 10px; */
    padding: 0;
    margin: 0;
}

.player_video {
    color: #fff;
    background-color: #3e3c3ccb;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    /* position: absolute; */

    z-index: 99;
    font-size: 24px;
    padding: 10px;
}
