{{stylesheet=bootstrap-image-checkbox.min.css}}
<style>
    .category-input {
        position: absolute;
        top: 0;
        border: 00px solid #f10000;
        opacity: 0;
    }

    .category-input:checked+label {
        border: 10px solid #f10000;
        opacity: 1;
    }

    .videoBadge {
        border-radius: 25px;

        position: absolute;
        height: 25px;
        background-color: rgb(0, 0, 0);
        cursor: pointer;
        bottom: 0px;
        left: 60px;
        width: 180px;
    }
</style>