<script type="text/javascript">
    function editPlaceholder(id) {
        var x = document.getElementById(id).placeholder;
        if (x !== "") {
            document.getElementById(id).value = x;
        }
    }

    function checkValue(id) {
        var ph = document.getElementById(id).placeholder;
        var n = document.getElementById(id).value;
        if (ph == n) {
            document.getElementById(id).value = "";
        }
    }

    function setNull(id) {

        const myArray = id.split("_");
        let name = myArray[0];
        console.log(name);

        var ph = document.getElementById(id).placeholder;
        if (name == "studio") {
            document.getElementById(id).value = "";
        } else {
            document.getElementById(id).value = "null";
        }

    }


</script>

<div class="border-3">
    <div class="container text-center">

        <!-- 
            <div class="border border-primary">

            -->

        <div class="row align-items-start">
            <div class="col-2">Directory</div>
            <div class="col-4">Studio</div>
            <div class="col-4">Path</div>
        </div>


        %%STUDIO_MAIN_HTML%%

    </div>
</div>