body {
    margin-bottom: 60px;
}

footer {
    margin-top: 50px;
}

/*
.fileList {
    margin-right: 10px;
} */

/*
.blueTable-td,
.blueTable-th {
    border: 0px solid #aaaaaa;
    padding: 3px 2px;
} */

/* .blueTable-tbody-td {
    font-size: 24px;
    text-align: left;
} */

/* .blueTable-tr-even {
    background: #74addf;
} */

/* .blueTable-thead {
    background: #1c6ea4;
    text-align: center;

    background: -moz-linear-gradient(top,
            #5592bb 0%,
            #327cad 66%,
            #1c6ea4 100%);
    background: -webkit-linear-gradient(top,
            #5592bb 0%,
            #327cad 66%,
            #1c6ea4 100%);
    background: linear-gradient(to bottom,
            #5592bb 0%,
            #327cad 66%,
            #1c6ea4 100%);
} */

.vertical-text {
    transform-origin: center;
    transform: rotate(90deg);
}

/* .blueTable-thead-th {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;

} */


/*
table.blueTable thead th:first-child {
    border-left: none;
} */

.categories-wrapper {
    position: relative;
}

.navbar.top-navbar {
    height: 50px;
    z-index: 2;
    border: none;
}

.navbar.second-navbar {
    /* height: 50px; */
    margin-top: 55px;
    z-index: 1;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
}

.navbar.pagenate-navbar {
    margin-top: 80px;
    height: 50px;
    z-index: 1;
}

.nav-tabs-sort {
    flex-wrap: nowrap;
    text-wrap: nowrap;

}

.nav-tabs .nav-link:not([disabled]):not(.disabled).active,
.nav-tabs .nav-link:not([disabled]):not(.disabled):active,
.nav-tabs .nav-link:not([disabled]):not(.disabled):focus,
.nav-tabs .nav-link:not([disabled]):not(.disabled):hover {
    background-image: linear-gradient(#44494d, #3a3f44 20%, #215794);
    filter: none;

}

textarea {
    min-height: 150px;
}

.verify-message {
    padding-top: 100px;
    padding-bottom: 100px;
}

button[type="submit"] {
    padding: 0;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

button[type="submit"]:hover {
    color: blue;
}

.filter-select {
    text-align-last: center;
    padding: 0px 20px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left 1rem;
    background-size: 1.5em;
}

.filter-option {
    text-align: center;
    padding: 0px 20px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left 1rem;
    background-size: 1.5em;
}

.playlist[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    width: 20px;
    height: 20px;
}

.category-input {
    position: absolute;
    top: 0;
    border: 00px solid #f10000;
    opacity: 0;
}

.category-input:checked+label {
    border: 10px solid #f10000;
    opacity: 1;
}

.videoBadge {
    border-radius: 25px;

    position: absolute;
    height: 25px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    bottom: 0px;
    left: 60px;
    width: 180px;
}

#myBtn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    /* background: rgb(0, 0, 0); */
    /* background: rgba(0, 0, 0, 0.7); */
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#myBtn:hover {
    background: rgba(149, 0, 0, 0.9);
}


.offcanvas.offcanvas-top-list {

    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 150px;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
}


.accordion-body {
    padding: 0;
}

.list-group.list-group-studio {
    --bs-list-group-action-hover-color: ;
    --bs-list-group-action-hover-bg: ;
    --bs-list-group-action-active-color: var(--bs-body-color);
    --bs-list-group-action-active-bg: var(--bs-secondary-bg);
    --bs-list-group-border-width: 0px;
    --bs-list-group-border-radius: var(--bs-border-radius);
}

.dropdown-divider-settings {
    height: 2px;
    margin: var(--bs-dropdown-divider-margin-y) 0;
    overflow: hidden;
    border-top: 5px solid var(--bs-dropdown-divider-bg);
    opacity: 1;
}

.recent-days-link {
    border-right: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.recent-days-select {
    border-left: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


.heartButton {
    background-color: transparent;
    width: 24px;
    height: 30px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    margin: 5px;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
    cursor: pointer;
}

