<div class="container blueTable" style="border-bottom: 2px solid #1C6EA4;">
    <div class="row text-center">
        <div class="col blueTable-th blueTable-thead blueTable-thead-th"> %%FILE_NAME%%</div>
    </div>
    <div class="row">
        <div class="col blueTable-th blueTable-thead blueTable-thead-th" style="max-width:35px;">%%ROW_ID%%</div>
        %%THUMBNAIL_HTML%%
        <div class="col">
            %%FIELD_ROW_HTML%%
            <div class="row">
                <div class="col-11 blueTable-tbody-td">
                    Width %%WIDTH%% Height %%HEIGHT%% Bit Rate %%BITRATE%% Filesize %%FILESIZE%%
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            
            %%TAG_CLOUD%%
        
        </div>
    </div>
</div>