<form action="search.php" method="post" id="formId">

<div class="blueTable">
    <div class="row ">
       %%SEARCH_BUTTON%%
        <div class="col blueTable-th blueTable-thead blueTable-thead-th text-center">
            
             %%FILE_NAME%%</div>
    </div>
    <div class="row">
<!--        <div class="blueTable-thead blueTable-thead-th vertical-text">%%ROW_ID%%</div> -->
<div class="col blueTable-th  blueTable-thead blueTable-thead-th" style="max-width: 35px;">
        <div class=" vertical-text">%%ROW_ID%%</div>
    </div>

        %%THUMBNAIL_HTML%%
        <div class="col">
            %%FIELD_ROW_HTML%%
            <div class="row">
                <div class="col-11 blueTable-tbody-td">
                    Width %%WIDTH%% Height %%HEIGHT%% Bit Rate %%BITRATE%% Filesize %%FILESIZE%%
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            
            %%TAG_CLOUD%%
        
        </div>
    </div>
</div>
</form>