<div style="width:320px" class="border p-2 categories-wrapper ">
    <div class="flex-shrink-0">
        <div class="custom-control custom-checkbox image-checkbox">
            <input type="checkbox" class="category-input custom-control-input" id="ck1a_%%ROW_ID%%" name="playlist[]"
                value="%%ROW_ID%%">
            <label class="custom-control-label position-relative " for="ck1a_%%ROW_ID%%">
                <img src="%%__URL_HOME__%%%%THUMBNAIL%%" alt="#" class="img-fluid"
                    onerror="this.onerror=null;this.src='%%__URL_HOME__%%/images/default.jpg'">
                    <div class="dropup">
                    <span class=" top-0 start-100 translate-middle dropdown-toggle p-2 bg-danger border border-light rounded-circle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <span class="visually-hidden">New alerts</span> -->
                      </span>
                      <ul class="dropdown-menu">
                      %%PLAYLIST_LINKS%%
                      </ul>
                      </div>
            </label>
            <div onclick="popup('%%__URL_HOME__%%/video.php?id=%%ROW_ID%%', 'videoplayer')"
                class="videoLink videoBadge badge">Video</div>
        </div>
        <div class="container text-start" onclick="popup('%%__URL_HOME__%%/videoinfo.php?id=%%ROW_ID%%', 'videoinfo')">
            %%VIDEO_DATA%%
        </div>
    </div>
</div>