<div class="col bg-primary bg-gradient fs-5 fw-bold text-bg-primary text-end ">
    <!-- <form action="process.php" id="videoRefreshOrDelete" onsubmit="clickButton(this);"> -->
    <!-- <form id="videoRefreshOrDelete" onsubmit="return false;"> -->
    <form id="videoRefreshOrDelete" onsubmit="return false;">

        %%DELETE_ID%%

        <button class="btn btn-outline-primary btn-lg px-3 text-bg-primary" id='RefreshBtn' onclick="clickButton(this);" type="submit" name="submit" value="update_file">Refresh</button>
        <button class="btn btn-outline-danger btn-lg px-3 text-bg-danger " id='Closebtn' onclick="clickButton(this);" type="submit" name="submit" value="delete_file">Delete</button>
    </form>
</div>