<div class="col  categories-wrapper" style="max-width:340px;">
    <div class="custom-control custom-checkbox image-checkbox">
        <input type="checkbox" class="category-input custom-control-input playlist_selector" id="ck1a_%%FILE_ID%%" name="playlist[]" value="%%FILE_ID%%">
        <label class="custom-control-label position-relative  " for="ck1a_%%FILE_ID%%">
            <img src="%%THUMBNAIL%%" alt="#" class="img-fluid" id="ck1a_%%FILE_ID%%_img" onmouseover="previewHover(this,'%%THUMBNAIL%%','%%PREVIEW%%')" onerror="this.onerror=null;this.src='%%__URL_HOME__%%/images/default.jpg'">
        </label>
    </div>
    <div class="d-grid gap-2">
        {{function=videoPlayer|query?id=%%FILE_ID%%,href=video.php,text=Play_Video}}
        {{function=videoPlayer|query?id=%%FILE_ID%%,query?next=%%NEXT_ID%%,href=videoinfo.php,text=Video_Info}}
    </div>
</div>