<form action="process.php" method="post" id="formId" >
    %%HIDDEN%%
    
        <div class="form-check ">
            <input class="form-check-input blueTable-thead blueTable-thead-th" type="checkbox" value="yes" id="flexCheckDefault" name="doFile">
            <!-- <label class=" blueTable-thead blueTable-thead-th" for="flexCheckDefault">
                Remove File
               </label> -->
 <button class="blueTable-thead blueTable-thead-th" id='Closebtn' type="submit" name="submit"
        value="delete_file">Delete</button>

            


          </div>
</form>
<script type="text/javascript">
    // $(document).ready(function () {
    //     writeLog('Upload Completed - Ending Request');
    //     $('#Closebtn').click(function () {
    //         writeLog('Upload Completed - Ending Request');
    //         window.opener.location.reload(true);
    //         window.close();

    //     });
    // });
</script>