{include="$headerTemplate"}

<script text="javascript">

    const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')

    if (toastTrigger) {
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastTrigger.addEventListener('click', () => {
            toastBootstrap.show()
        })
    }

    function copy(elem) {
        if ($(elem).text()) {
            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = $(elem).text();
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
        } else {
            input = $(elem).val();
            elem.select();//Select the text in the input element
            document.execCommand('copy');//copy it
        }
        $(elem).next().text('text copied');
        { noparse }
        setTimeout(function () { $(elem).next().text(''); }, 1000);//
        {
            /noparse}
        }
</script>

<div class="container-fluid align-content-center" style="width:700px;">
    <div class="row text-center">
        <span>Excel files are located in the following directory</span>
        <span class="btn rounded-pill bg-secondary" onclick="copy(this)">{$Array.EXCEL_DIRECTORY}</span>
        <span class="fs-4 rounded-pill bg-danger"></span>
    </div>

    <div class="row">
        {$Array.FORM_LIST_HTML}
    </div>
    <div class="row">
        <p></p>
    </div>

    <div class="row">
        {$Array.EXCEL_LINK}
    </div>
    <div class="row">
        <p></p>
    </div>

    <!--    <div class="p-2">
            <input type="button" onclick="printDiv('printableArea')" value="print a div!" />

        </div>
    -->
    <div class="row">
        {$Array.SHEET_LIST_HTML}
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="group">
                {$Array.SHEET_LINKS}
            </div>
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row" id="printableArea">
        {$Array.MESSAGE}
    </div>
</div>
{include="$footerTemplate"}