.container {
    width: 100%;
    height: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 1px;
    margin-left: 1px;
}

.blueTable {
    border: 0px solid #a4401c;
    background-color: #eeeeee;
    width: 100%;
    margin: 0px;

    text-align: left;

    /*  padding: 20px 20px 20px 20px; */
    padding: 0px 0px 0px 0px;

    /*    border-bottom: 2px solid #1C6EA4;*/
    /*	border-collapse: collapse; */
}

.blueTable-td,
.blueTable-th {
    border: 0px solid #aaaaaa;
    padding: 3px 2px;
}

.blueTable-tbody-td {
    font-size: 14px;
    text-align: left;
}

.blueTable-tr-even {
    background: #c19967;
}

.blueTable-thead {
    background: #a4551c;
    text-align: center;
    /* 
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444; */
}

.blueTable-thead-th {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;

    /* order-left: 2px solid #D0E4F5; */
}

table.blueTable thead th:first-child {
    border-left: none;
}

/*


.categories-wrapper {
    position: relative;
}

.category-input {
    position: absolute;
    top: 0;
    border: 10px solid #f10000;

    left: 0;
    opacity: 1;
    width: 50px;
    height: 50px;
}
*/
