<div class="accordion accordion-flush">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{$ACCORDIAN_ID}" aria-expanded="false" aria-controls="{$ACCORDIAN_ID}">
                {$ACCORDIAN_HEADER}
            </button>
        </h2>
        <div id="{$ACCORDIAN_ID}" class="accordion-collapse collapse">
            <div class="accordion-body">
                {$ACCORDIAN_LINKS}
            </div>
        </div>

    </div>
</div>