<form method="post" id="removeVideo" class="removeVideoBtn">
    <button type="button" class="text-dark heartButton" id="remove">
        {{icon=heartMinus|UseCSS=true}}
    </button>

    {$HIDDEN_VIDEO_ID}
</form>
<script>
    function removeVideo(action) {

        const playervideoid = document.querySelector('.player_text')
        const videoidField = document.querySelector('#removeVideoId')
        videoidField.value = playervideoid.getAttribute('data-videoid')


        // let mybutton = document.getElementById('ajaxform')
        var form = $("#removeVideo");

        var hiddenAction = document.createElement("input");
        hiddenAction.value = "true";
        hiddenAction.name = action;
        hiddenAction.type = "hidden";
        form.append(hiddenAction);

        var playlist = document.createElement("input");
        playlist.value = "RemovePlaylistVideo";
        playlist.name = "submit";
        playlist.type = "hidden";

        form.append(playlist);
        form.submit();
    }

    $(document).ready(function () {
        $(".removeVideoBtn button").click(function () {
            var text = $(this).attr("id");
            // console.log(text);
            removeVideo(text);
        });
    });

    $("#removeVideo").submit(function (e) {
        var postData = $(this).serializeArray();
        // console.info(postData);
        $.ajax({
            url: 'process.php',
            type: 'POST',
            data: postData,
            success: function (data) {
                console.info(data);
                window.location.href = data
            }
        })
    });
</script>
