<!-- <form action="search.php" method="post" id="formId"> -->
    <div class="">
        <div class="row">
            <div class="col bg-primary bg-gradient fs-5 fw-bold text-bg-primary text-start" style="padding-left: 10px;max-width:65px;">
            <!-- <input type="checkbox"  class="playlist" id="ck1a_%%FILE_ID%%" name="playlist[]" value="%%FILE_ID%%"> -->
        </div>

            <div class="col bg-primary bg-gradient fs-5 fw-bold text-bg-primary text-start" style="padding-left: 315px;">%%FILE_NAME%%</div>
        </div>
        <div class="row flex-nowrap">
            %%VERTICAL_TEXT%%

            %%THUMBNAIL_HTML%%

            <div class="col">
                %%FIELD_ROW_HTML%%
            </div>
        </div>
    </div>
<!-- </form> -->