<div class="col  categories-wrapper" style="max-width:340px;">
    <div class="custom-control custom-checkbox image-checkbox">
        <label class="custom-control-label position-relative " for="ck1a_%%FILE_ID%%">
            <img src="%%THUMBNAIL%%" alt="#" class="img-fluid" onerror="this.onerror=null;this.src='%%__URL_HOME__%%/images/default.jpg'">

        </label>
    </div>

    <div class="d-grid gap-2">
        <button  {{function=videoPlayer|query?id=%%FILE_ID%%,href=video.php}}  class="btn btn-primary" type="button">Play Video</button>
        <button  {{function=videoPlayer|query?id=%%FILE_ID%%,href=videoinfo.php}}   class="btn btn-primary" type="button">Video Info</button>

    </div>

</div>