<main class="container-fluid">
    <form method="post" id="ajaxform">
        <div>
            <input type="hidden" name="submit" value="playlist">
            %%HIDDEN_STUDIO%%

      %%PLAYLIST_ADD_BUTTON%%
        </div>
        %%BODY%%
    </form>

    <script>
        $("#ajaxform").submit(function (e) {
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            var curLoc = location;
            $.ajax(
                {
                    url: 'process.php',
                    type: "POST",
                    data: postData,
                    // data: jQuery.param({'submit': 'playlist', 'data': postData}) ,
                    success: function (data) {


                        window.location = data;


                        //data: return data from server
                    }

                });

        });

        //  $("#ajaxform").submit();
    </script>
</main>